$backgroundColor:#FAF8FF; 
$mainColor:#8D83EE;
$secondaryColor:#00C899;
$mainText:#181635;
$highlight : #9691b43a;
$secondaryText:#C7FCEB;
$borderColor:#792525;

$main:      	#826166;
$darkAccent: #618DA4;
$lightAccent:#C38493;
$darkshades:#251A23;
$lightshades:#F7f7f8;


	$Primary:	$main;
	$Info:$darkshades;
	$Success:	#5c9857;
	$Warning:#da881f;
 $Danger:	#f44336;