@import "colors";
.form{ 
  display: flex;
  flex-direction: column;
  
}
@media only screen and (max-width: 600px) {

  .form{ 
    display: flex;
    flex-direction: column;
    
    
  }
}
.form_btn{ 
  padding: 0.8rem;
  height: 2rem;
  background-color:$mainColor ;
  color: $mainText;
  border-radius: 4px;
  align-self: flex-end;
  margin-bottom: 0.9em;
  border: 0;
  font-size: 0.9rem;
  line-height: 0;
  margin-bottom: 50px;
}
.form_btn:hover{ 
  transition: 0.5s;
  background-color:$highlight ;

}
.clicky{ 
  cursor: pointer;
  pointer-events: all !important;
}
.register{
  margin-top: 1em;
  padding: 0.3em;
  border-radius: 0.2em;
  background-color: $secondaryColor ;
  color: $mainText;
}
.register:hover{ 
  background-color: $highlight;
}